<section class="gallery">
  <h2>1</h2>
</section>
<section class="faq">
  <h2>2</h2>
</section>
<footer class="footer">
  <div class="footer-container">
    <ul class="footer-navigation">
      <li class="footer-privacy">
        <a href="Privacy%20Policy.html" target="_blank">Privacy Policy /</a>
      </li>
      <li>
        <a href="Terms & Conditions.html" target="_blank"
          >Terms and Conditions</a
        >
      </li>
    </ul>
    <p class="footer-text">
      All rights reserved joyfulgameadventure.com | 2024
    </p>
  </div>
</footer>
