<section class="gallery container" id="Gallery">
  <div class="gallery-container">
    <h2 class="gallery-title">Gallery</h2>
    <div class="swiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <img
            class="gallery-section"
            src="/img/gallery/photo 1_1x.png"
            srcset="/img/gallery/photo 1_1x.png,
        /img/gallery/photo 1_2x.png"
            alt="finish-level-img"
            width="190"
            height="423"
            loading="lazy"
          />
        </li>
        <li class="swiper-slide">
          <img
            class="gallery-section"
            src="/img/gallery/photo2_1x.png"
            srcset="/img/gallery/photo2_1x.png, /img/gallery/photo2_2x.png"
            alt="star-chest-img"
            width="190"
            height="423"
            loading="lazy"
          />
        </li>
        <li class="swiper-slide">
          <img
            class="gallery-section"
            src="/img/gallery/photo3_1x.png"
            srcset="/img/gallery/photo3_1x.png, /img/gallery/photo3_2x.png"
            alt="team-img"
            width="190"
            height="423"
            loading="lazy"
          />
        </li>
        <li class="swiper-slide">
          <img
            class="gallery-section"
            src="/img/gallery/photo4_1x.png"
            srcset="/img/gallery/photo4_1x.png, /img/gallery/photo4_2x.png"
            alt="start-level-img"
            width="190"
            height="423"
            loading="lazy"
          />
        </li>
        <li class="swiper-slide">
          <img
            class="gallery-section"
            src="/img/gallery/photo5_1x.png"
            srcset="/img/gallery/photo5_1x.png, /img/gallery/photo5_2x.png"
            alt="play-level-img"
            width="190"
            height="423"
            loading="lazy"
          />
        </li>
        <li class="swiper-slide">
          <img
            class="gallery-section"
            src="/img/gallery/photo6_1x.png"
            srcset="/img/gallery/photo6_1x.png, /img/gallery/photo6_2x.png"
            alt="game-img"
            width="190"
            height="423"
            loading="lazy"
          />
        </li>
      </ul>
      <div class="custom-navigation gallery-nav">
        <button class="custom-arrow custom-prev" aria-label="Previous slide">
          <svg class="arrow" width="40" height="40" aria-hidden="true">
            <use href="/img/icons/sprites.svg#arrow-left"></use>
          </svg>
        </button>

        <button class="custom-arrow custom-next" aria-label="Next slide">
          <svg class="arrow" width="40" height="40" aria-hidden="true">
            <use href="/img/icons/sprites.svg#arrow-left"></use>
          </svg>
        </button>
      </div>
      <div class="custom-slider">
        <div class="custom-pagination">
          <div class="pagination-item active"></div>
          <div class="pagination-item"></div>
          <div class="pagination-item"></div>
          <div class="pagination-item"></div>
          <div class="pagination-item"></div>
          <div class="pagination-item"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ///////////////////////////////////-----------FAQ----/////////////// -->
<section class="faq container" id="Faq">
  <div class="faq-conteiner">
    <h2 class="faq-title">FAQ</h2>
    <div class="img-cont">
      <img
        class="faq-img"
        src="/img/Image 4_1x.png"
        srcset="/img/Image 4_1x.png,
    /img/Image 4_2x.png"
        alt="finish-level-img"
        width="348"
        height="348"
        loading="lazy"
      />

      <ul class="faq-acc">
        <li class="faq-acc-el faq-current">
          <h3 class="faq-acc-el-title">
            <button type="button" class="faq-acc-el-trigger">
              How do I start the game?

              <span class="faq-acc-arr arr-down">
                <svg class="faq-acc-svg" width="24" height="24">
                  <use href="/img/icons/sprites.svg#arrow-left"></use>
                </svg>
              </span>
            </button>
          </h3>

          <p class="faq-acc-el-descr-frame">
            Download the app, install it, and press 'Play' to begin solving the
            3D puzzles.
          </p>
        </li>
        <li class="faq-acc-el faq-current">
          <h3 class="faq-acc-el-title">
            <button type="button" class="faq-acc-el-trigger">
              Is the game free?

              <span class="faq-acc-arr arr-down">
                <svg class="faq-acc-svg" width="24" height="24">
                  <use href="/img/icons/sprites.svg#arrow-left"></use>
                </svg>
              </span>
            </button>
          </h3>

          <p class="faq-acc-el-descr-frame">
            Yes, Match Triple 3D is free to download and play, with optional
            in-app purchases available.
          </p>
        </li>
        <li class="faq-acc-el faq-current">
          <h3 class="faq-acc-el-title">
            <button type="button" class="faq-acc-el-trigger">
              Can I play without an internet connection?

              <span class="faq-acc-arr arr-down">
                <svg class="faq-acc-svg" width="24" height="24">
                  <use href="/img/icons/sprites.svg#arrow-left"></use>
                </svg>
              </span>
            </button>
          </h3>

          <p class="faq-acc-el-descr-frame">
            Yes, you can enjoy the game offline, making it perfect for gaming on
            the go.
          </p>
        </li>
        <li class="faq-acc-el faq-current">
          <h3 class="faq-acc-el-title">
            <button type="button" class="faq-acc-el-trigger">
              What are the boosters?

              <span class="faq-acc-arr arr-down">
                <svg class="faq-acc-svg" width="24" height="24">
                  <use href="/img/icons/sprites.svg#arrow-left"></use>
                </svg>
              </span>
            </button>
          </h3>

          <p class="faq-acc-el-descr-frame">
            Boosters are special items that help you overcome difficult puzzles
            by giving you extra moves or clearing multiple objects at once. They
            can be earned or purchased during gameplay.
          </p>
        </li>
        <li class="faq-acc-el faq-current">
          <h3 class="faq-acc-el-title">
            <button type="button" class="faq-acc-el-trigger">
              How do I unlock new levels?

              <span class="faq-acc-arr arr-down">
                <svg class="faq-acc-svg" width="24" height="24">
                  <use href="/img/icons/sprites.svg#arrow-left"></use>
                </svg>
              </span>
            </button>
          </h3>

          <p class="faq-acc-el-descr-frame">
            Complete each level to unlock new, more challenging levels.
            Progressing through levels rewards you with exciting new features
            and gameplay twists.
          </p>
        </li>
        <li class="faq-acc-el faq-current">
          <h3 class="faq-acc-el-title">
            <button type="button" class="faq-acc-el-trigger">
              Can I play with friends?

              <span class="faq-acc-arr arr-down">
                <svg class="faq-acc-svg" width="24" height="24">
                  <use href="/img/icons/sprites.svg#arrow-left"></use>
                </svg>
              </span>
            </button>
          </h3>

          <p class="faq-acc-el-descr-frame">
            Yes, you can connect to social media to share your progress, compete
            on leaderboards, and challenge your friends to beat your scores.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- //////////////////////////------footer-------------//////// -->
<footer class="footer container">
  <div class="footer-container">
    <ul class="footer-navigation">
      <li class="footer-privacy">
        <a href="Privacy%20Policy.html">Privacy Policy /</a>
      </li>
      <li>
        <a href="Terms & Conditions.html">Terms and Conditions</a>
      </li>
    </ul>
    <p class="footer-text">
      All rights reserved joyfulgameadventure.com | 2024
    </p>
  </div>
</footer>
