<header class="header container">
  <a href="index.html" class="link-logo">
    <img
      src="/img/icons/Favicon_1x.png"
      srcset="/img/icons/Favicon_1x.png, /img/icons/Favicon_2x.png"
      alt="logo"
    />
  </a>
  <nav class="nav-bar">
    <ul class="list-bar">
      <li>
        <a class="links" href="#Home">Home</a>
      </li>
      <li>
        <a class="links" href="#About">About Us</a>
      </li>
      <li>
        <a class="links" href="#Benefits">Benefits</a>
      </li>
      <li>
        <a class="links" href="#Gallery">Gallery</a>
      </li>
      <li>
        <a class="links" href="#Faq">FAQ</a>
      </li>
    </ul>
  </nav>
</header>
<section class="hero container" id="Home">
  <div class="hero-container">
    <div class="hero-text-box">
      <h1 class="title">Match Triple 3D</h1>
      <h2 class="sub-title">
        Match, Solve, and Explore in <br />
        a Stunning 3D Puzzle World!
      </h2>
    </div>
    <div class="hero-btn">
      <svg class="google-svg">
        <use href="/img/icons/sprites.svg#google"></use>
      </svg>
      <a href="#" class="btn-google">Google Play</a>
    </div>
  </div>
</section>
<section class="about" id="About">
  <div class="container about-container">
    <h2 class="sub-title">About Mathing Triple 3D</h2>
    <div class="background-container">
      <div class="text-about-container">
        <p class="text-about">
          Match Triple 3D is an innovative and captivating puzzle game where
          players match 3D objects by rotating and organizing them
          strategically. With hundreds of increasingly challenging levels,
          dynamic gameplay, and visually stunning graphics, the game offers a
          refreshing and immersive puzzle experience. Whether you’re new to
          puzzle games or a seasoned player, Match Triple 3D guarantees hours of
          brain-teasing fun. Explore beautiful 3D worlds while sharpening your
          problem-solving skills and unlocking exciting rewards.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="benefits" id="Benefits">
  <div class="container flex">
    <h2 class="sub-title">
      Discover the Benefits of<br />
      Choosing Us
    </h2>
    <div class="benefits-list">
      <div class="benefits-box-first">
        <div class="benefits-item">
          <img
            src="/img/icons/fire_1x.png"
            srcset="/img/icons/fire_1x.png, /img/icons/fire_2x.png"
            alt="fire"
          />
          <h4 class="benefits-title">Stunning 3D Visuals:</h4>
          <p class="benefits-text">
            The game presents puzzles in a 3D environment, offering a fresh
            perspective on the match-3 genre. The high-quality graphics and
            detailed textures make each puzzle come to life, immersing players
            in vibrant worlds that are both beautiful and engaging.
          </p>
        </div>
      </div>
      <div class="benefits-box-second">
        <div class="benefits-item">
          <img
            src="/img/icons/bomb_1x.png"
            srcset="/img/icons/bomb_1x.png, /img/icons/bomb_2x.png"
            alt="bomb"
          />
          <h4 class="benefits-title">Variety of Puzzle Mechanics:</h4>
          <p class="benefits-text">
            Match Triple 3D goes beyond simple matching, introducing mechanics
            where players rotate, flip, and organize objects to solve each
            level. This unique approach keeps gameplay exciting and encourages
            creative problem-solving.
          </p>
        </div>
        <div class="benefits-item">
          <img
            src="/img/icons/gift_1x.png"
            srcset="/img/icons/gift_1x.png, /img/icons/gift_2x.png"
            alt="gift"
          />
          <h4 class="benefits-title">Daily Rewards and Bonuses:</h4>
          <p class="benefits-text">
            Players are encouraged to log in daily to claim exciting rewards and
            bonuses. These daily incentives add an extra layer of motivation and
            make progression smoother, enhancing the overall game experience.
          </p>
        </div>
      </div>
      <div class="benefits-box-third">
        <div class="benefits-item">
          <img
            src="/img/icons/check_1x.png"
            srcset="/img/icons/check_1x.png, /img/icons/check_2x.png"
            alt="check"
          />
          <h4 class="benefits-title">Offline Play:</h4>
          <p class="benefits-text">
            The game is fully playable offline, allowing players to enjoy their
            puzzle-solving adventure anywhere and anytime without needing an
            internet connection. Whether on the go or at home, Match Triple 3D
            offers a seamless experience without restrictions.
          </p>
        </div>
        <div class="benefits-item">
          <img
            src="/img/icons/trophy_1x.png"
            srcset="/img/icons/trophy_1x.png, /img/icons/trophy_2x.png"
            alt="trophy"
          />
          <h4 class="benefits-title">Challenging Gameplay:</h4>
          <p class="benefits-text">
            The game features hundreds of unique puzzles with varying difficulty
            levels. As you progress, the puzzles become more intricate,
            requiring careful planning and strategy. Players will feel
            constantly challenged while enjoying a sense of accomplishment after
            each level.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
